extends ../layout

block content
  #hero-page.jumbotron.text-center.abel
    .container
      h1.hero-text.animated.fadeInDown
        | Profile
    br
  .container
    .row
      .col-md-4.hidden-xs.hidden-sm
        include ../partials/sidebars/dashboardNav
      .col-md-8
        .panel.panel-default
            .panel-heading
                h3.panel-title Profile Information
              .panel-body
              include ../partials/flash
              form.form-horizontal(action='/dashboard/profile', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.col-sm-2.control-label(for='email') Email
                  .col-sm-6
                    input.form-control(type='email', name='email', id='email', value='#{user.email}')
                .form-group
                  label.col-sm-2.control-label(for='name') Name
                  .col-sm-6
                    input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
                .form-group
                    label.col-sm-2.control-label(for='gender') Gender
                    .col-sm-10
                      .btn-group(data-toggle='buttons')
                        label.btn.btn-default
                          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
                          | Male
                        label.btn.btn-default
                          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
                          | Female
                .form-group
                  label.col-sm-2.control-label(for='location') Location
                  .col-sm-6
                    input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
                .form-group
                  label.col-sm-2.control-label(for='website') Website
                  .col-sm-6
                    input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
                .form-group
                  label.col-sm-2.control-label(for='gravatar') Gravatar
                  .col-sm-6
                    img.img-circle(src="#{user.gravatar()}", class='profile', width='100', height='100')
                .form-group
                  .col-sm-offset-2.col-sm-6
                    button.btn.btn-kano-invert(type='submit')
                      i.fa.fa-magnet
                      | Update Profile
