.panel.panel-default
  .list-group
      //- h4.list-group-item-heading testing
      a.list-group-item(href='/pages/getting-started', class=title=='Getting Started'?'active':undefined) Getting Started
      a.list-group-item(href='/pages/about-us', class=title=='About Us'?'active':undefined) About Us
      a.list-group-item(href='/pages/our-team', class=title=='Our Team'?'active':undefined) Team
      a.list-group-item(href='/pages/jobs', class=title=='Jobs'?'active':undefined) Jobs
      a.list-group-item(href='/pages/press', class=title=='Press'?'active':undefined) Press
      a.list-group-item(href='/pages/faqs', class=title=='FAQs'?'active':undefined) FAQs
      a.list-group-item(href='/pages/privacy-policy', class=title=='Privacy Policy'?'active':undefined) Privacy Policy
      a.list-group-item(href='/pages/terms-of-use', class=title=='Terms Of Use'?'active':undefined) Terms Of Use
      a.list-group-item(href='/pages/contact-us', class=title=='Contact Us'?'active':undefined) Contact Us
